{% extends "layout.jinja2" %}

{% block content %}

    <p>project_url = {{ project_url }}</p>
    <p>datapath = {{ datapath }}</p>
    <p>result: {{ result }}</p>
    <p>file: {{ file }}</p>

{% endblock content %}
